:root {
  --color-background: #f0f0f0;
  --color-primary: #3498db;
  --color-text: #333;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 20px;
  background-color: var(--color-background);
  color: var(--color-text);
}
